* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  padding: 2rem;
}
.App {
  text-align: center;
}
.App > a {
  text-decoration: none;
  color: inherit;

}
@media (max-width:1000px) {
  body {
    padding: 0;
  }
}